In [34]:
import pandas as pd

In [35]:
restaurants = pd.read_csv('../data/TA_restaurants.csv')

In [36]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125527 entries, 0 to 125526
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         125527 non-null  int64
 1   Name               125527 non-null  object
 2   City               125527 non-null  object
 3   Cuisine Style      94176 non-null   object
 4   Ranking            115876 non-null  float64
 5   Rating             115897 non-null  float64
 6   Price Range        77672 non-null   object
 7   Number of Reviews  108183 non-null  float64
 8   Reviews            115911 non-null  object
 9   URL_TA             125527 non-null  object
 10  ID_TA              125527 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 10.5+ MB

In [37]:
restaurants.shape

(125527, 11)

In [38]:
restaurants.head()

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170

In [39]:
restaurants.URL_TA.unique()

array(['/Restaurant_Review-g188590-d11752080-Reviews-Martine_of_Martine_s_Table-Amsterdam_North_Holland_Province.html',
       '/Restaurant_Review-g188590-d693419-Reviews-De_Silveren_Spiegel-Amsterdam_North_Holland_Province.html',
       '/Restaurant_Review-g188590-d696959-Reviews-La_Rive-Amsterdam_North_Holland_Province.html',
       ...,
       '/Restaurant_Review-g188113-d13296092-Reviews-Restaurant_Bahnhof-Zurich.html',
       '/Restaurant_Review-g188113-d13323362-Reviews-Yoyo_Pizza-Zurich.html',
       '/Restaurant_Review-g188113-d13349842-Reviews-Dieci-Zurich.html'],
      dtype=object)

In [8]:
list(restaurants.City.unique())

['Amsterdam',
 'Athens',
 'Barcelona',
 'Berlin',
 'Bratislava',
 'Brussels',
 'Budapest',
 'Copenhagen',
 'Dublin',
 'Edinburgh',
 'Geneva',
 'Hamburg',
 'Helsinki',
 'Krakow',
 'Lisbon',
 'Ljubljana',
 'London',
 'Luxembourg',
 'Lyon',
 'Madrid',
 'Milan',
 'Munich',
 'Oporto',
 'Oslo',
 'Paris',
 'Prague',
 'Rome',
 'Stockholm',
 'Vienna',
 'Warsaw',
 'Zurich']

In [9]:
restaurants.drop(['Number of Reviews', 'URL_TA', 'ID_TA'] ,axis=1, inplace=True)

In [10]:
restaurants = restaurants.dropna()

In [11]:
restaurants['Reviews'][67379]

"[['Absolutely divine tastes and flavours', 'Loved it'], ['01/09/2018', '01/07/2018']]"

In [12]:
for i in range(0, 11):
    if 'Dutch' in restaurants['Cuisine Style'][i]:
        print(True)
    else:
        print(False)

True
True
False
False
True
False
False
False
False
True
False

In [13]:
if 'Dutch' in restaurants['Cuisine Style'][0]:
    print(True)

True

In [14]:
restaurants['Cuisine Style']

0                           ['French', 'Dutch', 'European']
1         ['Dutch', 'European', 'Vegetarian Friendly', '...
2         ['Mediterranean', 'French', 'International', '...
3         ['French', 'European', 'International', 'Conte...
4         ['Dutch', 'European', 'International', 'Vegeta...
                                ...
125438    ['Chinese', 'Swiss', 'Mediterranean', 'European']
125444                  ['Italian', 'African', 'Ethiopian']
125445                   ['Italian', 'Vegetarian Friendly']
125450    ['International', 'European', 'Contemporary', ...
125453    ['German', 'Belgian', 'Mediterranean', 'Europe...
Name: Cuisine Style, Length: 75429, dtype: object

In [15]:
restaurants['Cuisine Style'].value_counts

<bound method IndexOpsMixin.value_counts of 0                           ['French', 'Dutch', 'European']
1         ['Dutch', 'European', 'Vegetarian Friendly', '...
2         ['Mediterranean', 'French', 'International', '...
3         ['French', 'European', 'International', 'Conte...
4         ['Dutch', 'European', 'International', 'Vegeta...
                                ...
125438    ['Chinese', 'Swiss', 'Mediterranean', 'European']
125444                  ['Italian', 'African', 'Ethiopian']
125445                   ['Italian', 'Vegetarian Friendly']
125450    ['International', 'European', 'Contemporary', ...
125453    ['German', 'Belgian', 'Mediterranean', 'Europe...
Name: Cuisine Style, Length: 75429, dtype: object>

In [16]:
restaurants['Price Range'].unique()

array(['$$ - $$$', '$$$$', '$'], dtype=object)

In [17]:
restaurants = restaurants.replace({'$$ - $$$': 'medium', '$': 'low', '$$$$': 'high'})

In [18]:
restaurants[restaurants.Rating == 1.0]

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Reviews
3234,3234,EXKi,Amsterdam,"['Fast Food', 'Soups', 'Vegetarian Friendly', ...",3245.0,1.0,low,"[['3,30 for a ""pièce"" of brownie and mistake....."
13105,7733,Restaurant International 08002 Barcelona,Barcelona,"['Asian', 'Chinese']",7735.0,1.0,medium,"[['Probably the worst in Barcelona!', 'Food po..."
13115,7743,Petipe,Barcelona,['Pizza'],7749.0,1.0,low,"[[], []]"
13119,7747,MasQMenos St Joan,Barcelona,['Spanish'],7753.0,1.0,medium,"[[], []]"
13124,7752,Menjador del centre,Barcelona,['Mediterranean'],7759.0,1.0,medium,"[[], []]"
...,...,...,...,...,...,...,...,...
123648,2140,INSPIRE Lounge,Warsaw,"['International', 'Polish', 'European', 'Grill...",2149.0,1.0,medium,"[[""Nice food if you won't mind waiting 2.5 ho...."
123649,2141,Grill Inn,Warsaw,"['Lebanese', 'Mediterranean', 'Turkish']",2150.0,1.0,medium,"[['Get with the times'], ['09/23/2017']]"
123650,2142,Szafran - Afghan Restaurant,Warsaw,"['Indian', 'Middle Eastern', 'Persian', 'Afgha...",2151.0,1.0,low,"[[""It's a normal kebab place""], ['06/26/2016']]"
125450,1590,not guilty Bellevue,Zurich,"['International', 'European', 'Contemporary', ...",1596.0,1.0,medium,"[[], []]"
125453,1593,Hukka Restaurant & Hookah Lounge,Zurich,"['German', 'Belgian', 'Mediterranean', 'Europe...",1601.0,1.0,high,"[[], []]"

In [19]:
restaurants_london= restaurants[restaurants.City == 'London']

In [20]:
restaurants_london

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Reviews
45580,0,R & H cafe gallery,London,"['Cafe', 'Middle Eastern', 'Persian', 'Vegetar...",1.0,5.0,medium,"[['Amazing cakes', 'Breakfatst'], ['01/08/2018..."
45581,1,Osteria Romana,London,"['Italian', 'Mediterranean', 'Vegetarian Frien...",2.0,5.0,high,[['Small restaurant with the touch of Italian....
45582,2,The Oystermen Seafood Bar & Kitchen,London,"['Seafood', 'British', 'Gluten Free Options']",3.0,5.0,medium,"[['Fantasic!!', 'Superb Food, Warm and Welcomi..."
45583,3,Liman Restaurant,London,"['Mediterranean', 'European', 'Turkish', 'Midd...",4.0,5.0,medium,"[['A good experience', 'Excellent Establishmen..."
45584,4,Holy Smoke,London,"['International', 'Vegetarian Friendly', 'Glut...",5.0,5.0,medium,"[['Always consistently good food and service',..."
...,...,...,...,...,...,...,...,...
61978,16398,Ital Pizza,London,['Pizza'],16417.0,1.0,medium,"[['Just run away from this shop!!!'], ['12/19/..."
61979,16399,Bombay Mix,London,['Indian'],16418.0,1.0,medium,[['Over and hour late and not worth the wait.'...
61986,16406,Tastys Peri Peri,London,['Pizza'],16427.0,1.0,medium,"[['Disgusting'], ['09/29/2017']]"
61996,16416,Cock Tavern,London,"['French', 'Steakhouse', 'British']",16437.0,1.0,high,"[[""TV hype at it's worse! Hideous!""], ['05/27/..."
62001,16421,Le Peep Boutique,London,"['French', 'Fusion']",16443.0,1.0,high,"[['staff party', 'Aqua shard workers party'], ..."

In [21]:
restaurants.drop(['Unnamed: 0'] ,axis=1, inplace=True)

In [22]:
restaurants

,Name,City,Cuisine Style,Ranking,Rating,Price Range,Reviews
0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,medium,"[['Just like home', 'A Warm Welcome to Wintry ..."
1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,high,"[['Great food and staff', 'just perfect'], ['0..."
2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,high,"[['Satisfaction', 'Delicious old school restau..."
3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,high,"[['True five star dinner', 'A superb evening o..."
4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,high,"[['Best meal.... EVER', 'super food experience..."
...,...,...,...,...,...,...,...
125438,Jade,Zurich,"['Chinese', 'Swiss', 'Mediterranean', 'European']",1584.0,3.0,high,"[['Horrible!', 'It was really horrible, I woul..."
125444,Restaurant Moringa Teff,Zurich,"['Italian', 'African', 'Ethiopian']",1590.0,5.0,medium,"[[], []]"
125445,Ristorante La Taverna,Zurich,"['Italian', 'Vegetarian Friendly']",1591.0,4.5,medium,"[['Super local eatery', 'Small and charming pl..."
125450,not guilty Bellevue,Zurich,"['International', 'European', 'Contemporary', ...",1596.0,1.0,medium,"[[], []]"
125453,Hukka Restaurant & Hookah Lounge,Zurich,"['German', 'Belgian', 'Mediterranean', 'Europe...",1601.0,1.0,high,"[[], []]"

In [23]:
restaurants.to_csv('../data/df_restaurants.csv')

In [24]:
restaurants.to_json("../data/restaurants_json", orient="records")

In [25]:
from pymongo import MongoClient

In [26]:
conn = MongoClient("localhost:27017")

In [27]:
conn.list_database_names()

['HP', 'RickAndMorty', 'admin', 'config', 'ironhack', 'local', 'project_final']

In [28]:
db = conn.get_database("project_final")

In [29]:
db.list_collection_names()

['restaurants']

In [30]:
collection = db.get_collection("restaurants")

In [31]:
collection.find_one()

{'_id': ObjectId('5fd29dce86cc4c64e0897909'),
 'Name': 'Blue Pepper Restaurant And Candlelight Cruises',
 'City': 'Amsterdam',
 'Cuisine Style': "['Asian', 'Indonesian', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']",
 'Ranking': 8.0,
 'Rating': 4.5,
 'Price Range': 'high',
 'Number of Reviews': 675.0,
 'Reviews': "[['Great Experience', 'A true delight'], ['01/08/2018', '01/07/2018']]",
 'URL_TA': '/Restaurant_Review-g188590-d697058-Reviews-Blue_Pepper_Restaurant_And_Candlelight_Cruises-Amsterdam_North_Holland_Province.html',
 'ID_TA': 'd697058'}

In [32]:
restaurants_madrid.sample(20)

NameError: name 'restaurants_madrid' is not defined

In [33]:
coordenadas = pd.read_csv('../data/dataframefinal.csv')